<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>High Scheduler</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
</head>

<body>
  <div id="app">
    <v-app>
        <template>
          <v-toolbar>
            <v-toolbar-title>Title</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
            <v-toolbar-items class="hidden-sm-and-down">
              <v-btn flat>Link One</v-btn>
              <v-btn flat>Link Two</v-btn>
              <v-btn flat>Link Three</v-btn>
            </v-toolbar-items>
          </v-toolbar>
        </template>
      <v-content>
        <v-container fluid>
          <page></page>
        </v-container>
      </v-content>
    </v-app>
  </div>
  

  <script type="text/x-template" id="page">
    <v-layout column>
      <timeline></timeline>
    </v-layout>
  </script>

  <script type="text/x-template" id="timeline">
    <v-flex xs1>
      <v-card color="white">
        <v-card-text>12 AM</v-card-text>
        <v-divider></v-divider>
        <template v-for="n in 11">
          <v-card-text>{{ n }} AM</v-card-text>
          <v-divider></v-divider>
        </template>
        <v-card-text>12 PM</v-card-text>
        <v-divider></v-divider>
        <template v-for="n in 11">
          <v-card-text>{{ n }} PM</v-card-text>
          <v-divider></v-divider>
        </template>
      </v-card>
    </v-flex>
  </script>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="main.js">
  </script>
</body>

</html>
