<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>High Scheduler</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
</head>

<body>
  <div id="app">
    <v-app>
      <v-toolbar fixed app>
        <v-toolbar-title>{{title}}</v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container fluid>
          <page></page>
        </v-container>
      </v-content>
      <v-speed-dial v-model="fab" :top="top" :bottom="bottom" :right="right" :left="left" :direction="direction" :hover="hover"
        :transition="transition">
        <v-btn slot="activator" color="blue darken-2" dark fab hover v-model="fab">
          <v-icon>account_circle</v-icon>
          <v-icon>close</v-icon>
        </v-btn>
        <v-btn fab dark small color="green">
          <v-icon>edit</v-icon>
        </v-btn>
        <v-btn fab dark small color="indigo">
          <v-icon>add</v-icon>
        </v-btn>
        <v-btn fab dark small color="red">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-app>
  </div>

  <script type="text/x-template" id="page">
    <v-layout column align-center>
      <div>
        <img src="./v.png" alt="Vuetify.js" class="mb-5" height="100px" />
      </div>
      <blockquote>
        &#8220;First, solve the problem. Then, write the code.&#8221;
      </blockquote>
    </v-layout>
  </script>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="main.js"></script>
</body>

</html>