<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>High Scheduler</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
</head>

<body>
  <div id="app">
    <v-app>
      <v-toolbar height="64px">
        <v-toolbar-title>High Scheduler</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn flat>Day</v-btn>
          <v-btn flat>Week</v-btn>
          <v-btn flat>Month</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-content>
        <v-container fluid>
          <v-layout row wrap>
            <timeline></timeline>
            <v-layout column>
              <v-flex xs12 v-for="(subject, i) in subjects" :key="i">
                <div :style="{ position: 'absolute', top: (subject.beginTime.hour() * 60 + subject.beginTime.minute() + 80) + 'px' }">
                  <v-card class="ml-2" :height="subject.endTime.diff(subject.beginTime, 'minutes') + 'px'">
                    <v-card-title primary-title>
                      <div class="headline">{{ subject.subject }}</div>
                    </v-card-title>
                    <v-card-text>
                      Quiz
                    </v-card-text>
                  </v-card>
                </div>
              </v-flex>
            </v-layout>

          </v-layout>
        </v-container>
      </v-content>

      <!--Event Form-->
      <v-dialog v-model="dialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Add Subject</v-card-title>
          <v-card-text>Add a subject category for HighScheduler to recognize:</v-card-text>
          <v-form v-model="valid" class="pl-4 pr-4">
            <v-text-field label="Subject" v-model="subject" required>
          </v-form>
          <v-form v-model="valid" class="pl-4 pr-4">
            <v-text-field label="Begins" v-model="begins" required>
          </v-form>
          <v-form v-model="valid" class="pl-4 pr-4">
            <v-text-field label="Ends" v-model="ends" required>
          </v-form>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat="flat" @click.native="addSubject">Add Subject</v-btn>
            <v-btn color="green darken-1" flat="flat" @click.native="dialog = false">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!--FAB-->
      <v-speed-dial v-model="fab" fixed bottom right direction="left" hover>
        <v-btn slot="activator" color="blue darken-2" dark fab hover v-model="fab">
          <v-icon>account_circle</v-icon>
          <v-icon>close</v-icon>
        </v-btn>
        <v-btn fab dark small color="green">
          <v-icon>edit</v-icon>
        </v-btn>
        <v-btn fab dark small color="indigo" @click.native.stop="dialog = true">
          <v-icon>add</v-icon>
        </v-btn>
        <v-btn fab dark small color="red">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-app>
  </div>

  <script type="text/x-template" id="timeline">
    <v-flex xs1>
      <v-card color="white" height="1440px">
        <v-card-text style="height: 59px">12 AM</v-card-text>
        <v-divider></v-divider>
        <template v-for="n in 11">
          <v-card-text style="height: 59px">{{ n }} AM</v-card-text>
          <v-divider></v-divider>
        </template>
        <v-card-text style="height: 59px">12 PM</v-card-text>
        <v-divider></v-divider>
        <template v-for="n in 11">
          <v-card-text style="height: 59px">{{ n }} PM</v-card-text>
          <v-divider></v-divider>
        </template>
      </v-card>
    </v-flex>
  </script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js"></script>
  <script src="main.js"></script>
</body>

</html>
