/** CSS Styles */

#getting-started .intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

#getting-started .card {
  border-radius: 0;
  margin-bottom: 5rem;

}

#getting-started a {
  color: inherit;
}

#getting-started .list {
  margin: 0 2rem !important;
}

#getting-started main {
  text-align: center;
}

#getting-started h2 {
  text-align: center;
}

#card1{
  position: absolute;
  top: 559px;
  width: 1222px;
  height: 90px;
  background-color: rgb(129, 199, 204);
}

#card2{
  position: absolute;
  top: 651px;
  width: 1222px;
  height: 90px;
  background-color: rgb(255, 138, 144);

}

#card3{
  position: absolute;
  top: 770px;
  width: 1222px;
  background-color: rgb(145, 250, 145);
}

#card4{
  position: absolute;
  top: 897px;
  width: 1222px;
  background-color: rgb(252, 206, 121);
}